<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/bootstrap.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/lavish-bootstrap.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/simplegrid.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/main.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/datepicker.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/cores.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/hint.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/scripts/jquery-ui-1.11.1/jquery-ui.min.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/themify-icons/themify-icons.css">
<link rel="stylesheet" href="<?php echo WWW_ROOT; ?>/styles/fullcalendar.min.css">