cpbquirophp.esproj/*
.DS_Store
imagens/.DS_Store
scripts/.DS_Store
scripts/jquery-ui-1.11.1/.DS_Store
scripts/jquery-ui-1.11.1/external/.DS_Store
scripts/webcamjs/.DS_Store
scripts/webcamjs/flash/.DS_Store
styles/.DS_Store
uploads/.DS_Store
uploads/pacientes/.DS_Store
uploads/pacientes/1/
views/.DS_Store
views/agenda/.DS_Store
views/pacientes/.DS_Store
webtools/.DS_Store
webtools/fpdf17/.DS_Store