@charset "utf-8";
/* CSS Document */

form ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

form ul:after,
form li div:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

form ul li {
	margin:5px 0 0 0;
	padding:0;
}

form ul li label {
	margin:0;
	padding:0;
}

form ul li label.left {
	margin-top: 9px;
}

form ul li input,
form ul li select {
	width: 98%;
	margin:8px 0 0 0;
}

form ul li select {
	margin:7px 0 0 0;
}

form ul li p {
	margin: 0;
	padding: 0;
}

form ul li span {
	display: block;
	float: left;
	margin: 5px 10px 10px 0;
	padding: 0;
}

form ul li.duasColunas,
form ul li.tresColunas {
	overflow: auto;
}

form ul li.duasColunas p {
	width: 45%;
	float: left;
	padding:0 20px 0 0;
}

form ul li.tresColunas p {
	width: 30%;
	float: left;
	padding:0 20px 0 0;
}

/*form ul li.duasColunas div p {
	width:47%;
	padding:0 20px 0 0;
}

form ul li.duasColunas div p.estilo1 {
	width:78%;
}

form ul li.duasColunas div p.estilo2 {
	width:15%;
}

form ul li.duasColunas div p.estilo3 {
	width:30%;
}

form ul li.duasColunas div p.estilo4 {
	width: 63%;	
}

form ul li.tresColunas div p {
	width:30%;
	padding:0 20px 0 0
}

form ul li.tresColunas div p input,
form ul li.tresColunas div p select {
	width: 100%;
}

input[type=text], 
select { 
	width:98%; 
}

input.pequeno,
select.pequeno {
	width:29%;
}

input.medio,
select.medio {
	width:50%;
}

input.medio2,
select.medio2 {
	width:65%;
}*/