@charset "UTF-8";
/* CSS Document */

html { 
    font-size:100%;
    overflow-y:scroll;
}

body {
	background: #fff;
    margin:0; 
    font-family:Georgia,serif;
    line-height:1.5;
}

header[role=logo] {
	background: #fff url('../imagens/background-header.jpg') no-repeat right center;
    width:100%; 
    height:100px;
}

header hgroup {
	width: 100%; 
    height:100px;
    margin:0;
}

header hgroup h1 { 
    background: url('../imagens/logo.png') 0 0 no-repeat;
    display:block;
    height:100px;
    text-indent:-9999em;
    margin:0; 
}

.inner {
    width:1200px;
    margin:0 auto;
}

.primary { 
    margin:0; 
    padding:15px; 
    overflow:auto; 
}

.primary p {
    margin:0 0 10px 0; 
    padding:0; 
}

.left {
	width: 160px;
    float:left;
    margin:2px 0 0 0;
}

.left ul {
	list-style-type:none;
	width:100%;
	padding:0;
	margin:0 0 0 0;
}

.left ul li {
	line-height:25px;
	cursor: pointer;
}

.left ul li:hover {
	cursor:pointer;	
}

.left ul li a {
	text-decoration:none;
	display:block;
}

.left ul li a span {
	display:block;
	margin-left:5px;
}

.left ul li ul {
	width: 100%;
	padding:0;
	margin:0 0 0 20px;
	list-style:none;
	display:none;
}

.right { 
    margin:0 0 0 160px; 
    padding:0 0 0 15px; 
}

.alert.login {
	width: 310px;
	position: relative;
	left: 25%;
	text-align: center;
}

footer {
	text-align:center;
	padding:10px;
	font-size:0.7em;
}

fieldset legend {
	font-size:1em; 
	width:auto;
	font-weight:bold;
	border: 0;
}

table:not(.agenda) tbody tr:nth-child(even) {background: #f8f8f8}
table:not(.agenda) tbody tr:nth-child(odd) {background: #FFF}

table th.center,
table td.center {
	text-align: center;
}

table tbody th,
table tbody td {
	border: 0 !important;
}

table thead {
	background:#6898d0;
	color: #fff;
}

table th.acoes {
	text-align: center;
}

table input {
	width: 100% !important;
}

table thead tr:nth-child(2) th {
	text-align: center;
}

table input[type=checkbox] {
	width: 12px !important;
}

table tbody tr:first-child td {
	text-align: center;
}

tbody th {
	font-weight: normal;
}

table thead a,
table thead a:hover {
	color: #fff;
}

table.agenda thead select {
	color: #333;
	font-size: 0.8em;
}

table.agenda td,
table.agenda th {
	text-align: center;
	width: 14.3%;
}

table.agenda thead th {
	text-align: center;
	padding: 5px;
}

table.agenda tbody td,
table.agenda tbody th {
	border: 1px solid #ccc !important;
	vertical-align: top;
}

table.agenda div.day {
	text-align: center;
	background-color: #f1f0f0;
	padding-bottom: 2px;
}

table.agenda div.day.today {
	background-color: #6898d0;
	color: #fff;
}

table.agenda a,
table.agenda small {
	display: block;
}

table.agenda small {
	text-align: left;
}

table.agenda a small {
	text-align: left;
}

table.agenda th.header {
	background-color: #f1f0f0;
}

.top-items {
	max-width: inherit !important;
}

.top-items .item {
	float: left;
	padding: 5px 7px 5px 5px;
}

.top-items .item a {
	color: #E07A32 !important;
	text-decoration: none;
	display: block;
}

.top-items .item:hover {
	cursor: pointer;
}

.top-items .item span {
	margin: 0;
	float: left;
}

.top-items .item span:first-child {
	display: block;
	margin: 1px 5px 0 3px;
}

.circle {	
	width: 10px;
	height: 10px; 
	border-radius: 50%;
	float: left;
	margin: 6px 4px 0 5px;
}

.circle1 {	
	background-color: #0066FF;
}

.circle2 {	
	background-color: #009933;
}

.circle3 {	
	background-color: orange;
}

.ui-widget {
	font-family: Georgia, serif !important;
	font-size: 1em !important;
}

ul.ui-autocomplete {
	background: #f6f6f6;
}

li.ui-menu-item {
	display: block;
	float: none;
}

.loader {
	display:none;
	margin:10px 0 0 0;
}

.grid {
	margin-bottom: 10px !important;
}

table tbody div#links {
    visibility:hidden;
    margin:5px 0 0 0;
    font-size:0.8em;
}

table tbody tr:hover div#links {
    visibility:visible;
}

.fc-toolbar button {
	height: 25px !important;
}

.fc-icon-left-single-arrow:after{
	top:0 !important;
}
	
.fc-icon-right-single-arrow:after{
	top: 0 !important;
}